
/* Estilização global*/


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    display: grid;
    justify-items: center;
    margin: 0px;
    gap: 60px;
    margin-top: 60px;
}

p{
    font-size: 20px; /* ALterando o tamanho dos parágrafos de 16px para 20px */
}

.menu{
    display: flex;  /* Alinha os itens na horizontal*/
    gap: 20px;      /* Cria um distânciamento entre os itens*/
}

a{
    text-decoration: none; /*tira qualquer decoração qie tenha na tag a */
}

img{
    max-width: 100%; /* Evita que ocorra o overflow, a img ocupa 100% do elemento pai*/
     display: block; /*Faz com que a imagem se comporte sempre como um bloco, ou seja do inicio ao fim do container */
}

li {
    list-style: none; /**/
}

p,h1,h2,h3 {
    margin: 0px;
}

.menu a {
    background-color: #ffffff;
    padding: 15px 30px; /* É o espaçamento interno e quando utilizamos o atalho padding com dois valores o primeiro valor é para cima/para baixo e segundo valor para direita/esquerda*/
    border-radius: 4px;  /* Arredonda as laterais da borda(mesmo que a borda não "exista ela ta ali)*/
    color: #000000;
    text-transform: uppercase;
}

.menu a:hover {
    background-color: #ee2211;
    color: #ffffff;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;

}

.introducao {
    background-color: #ffffff;
    padding: 40px;
    text-align: right;
    display: grid;
    align-content: center;
    justify-items: end;
    gap: 20px;
}

.subtitulo {
    font-size: 64px;
    text-transform: uppercase;
    padding: 40px;
    color: rgba(0, 0, 0, 0.2);
    text-align: end;
    align-self: center;
}

.botao {
    background-color: #ee2211;
    color: #ffffff;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 4px
}



/* estilização das vantagens */

.vantagens {
    background-color: #ffffff;
    padding: 40px;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.vantagens-item P {
    grid-column: 2;
}

/* estilização do rodape */

.rodape {
    background-color: #ffffff;
    text-align: center;
    padding: 40px 0;
    width: 100%; /* Faz com que o elemento atual fique 100% do tamanho do elemento pai(Você não está utilizando display)*/
     box-sizing: border-box; /*é pra definir o valor de uma "caixa" antes disso o rodape tava estourado e fez uma gambiarrinha ali no padding, mas o mais correto pra travar é o box-sizing */
}
